<mat-toolbar color="primary">
  <a mat-menu-item routerLink="/">
    <mat-icon>where_to_vote</mat-icon>
    <span>Addresses</span>
  </a>
  <span class="header-spacer"></span>
  <button
    *ngIf="!(authSservice.isLoggedIn$ | async)"
    data-id="login-btn"
    mat-icon-button routerLink="/auth/login">
    <mat-icon>login</mat-icon>
  </button>
  <button
    *ngIf="!!(authSservice.isLoggedIn$ | async)"
    data-id="user-menu-btn"
    mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>person</mat-icon>
  </button>
</mat-toolbar>
<mat-menu #menu="matMenu">
  <button routerLink="/auth/profile" mat-menu-item>
    <mat-icon>app_registration</mat-icon>
    <span>Profile</span>
  </button>
  <button
    (click)="handleLogOut()"
    mat-menu-item>
    <mat-icon>logout</mat-icon>
    <span>Sign Out</span>
  </button>
</mat-menu>
