<div *ngIf="!!errorMessage">
  <mat-error>{{errorMessage}}</mat-error>
</div>
<form [formGroup]="form">
  <mat-form-field class="w-100-percent">
    <mat-label>Name</mat-label>
    <input matInput type="text" formControlName="name">
  </mat-form-field>
  <mat-form-field class="w-100-percent">
    <mat-label>Phone Number</mat-label>
    <input matInput type="tel" formControlName="phoneNumber">
  </mat-form-field>
  <mat-form-field class="w-100-percent">
    <mat-label>Email</mat-label>
    <input matInput type="email" formControlName="email">
  </mat-form-field>
  <mat-form-field class="w-100-percent">
    <mat-label>Password</mat-label>
    <input matInput type="password" formControlName="password">
  </mat-form-field>
  <div>
      <app-button
        fullwidth="true"
        raised="true"
        [loading]="loading"
        (onClick)="submitHandler()"
        color="primary">Save</app-button>
      <app-button class="d-block mt-1" fullwidth="true" routerLink="/auth/login">Cancel</app-button>
    </div>
</form>
