<h1 mat-dialog-title>{{title}}</h1>
<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field ngClass="full-width" appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput type="text" formControlName="name">
    </mat-form-field>
    <mat-form-field class="w-100-percent">
      <mat-label>Address</mat-label>
      <input matInput type="text" formControlName="address">
    </mat-form-field>
    <mat-form-field class="w-100-percent">
      <mat-label>Latitude</mat-label>
      <input matInput type="number" formControlName="latitude">
    </mat-form-field>
    <mat-form-field class="w-100-percent">
      <mat-label>Longitude</mat-label>
      <input matInput type="number" formControlName="longitude">
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions ngClass="action-container">
  <app-button data-id="cancel-btn" [disabled]="loading" (onClick)="cancelHandler()">Cancel</app-button>
  <app-button data-id="save-btn" [loading]="loading" (onClick)="submitHandler()" color="primary">Save</app-button>
</div>
