/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background: #fafafa; }

.container{
  margin: 1rem;
}
.d-flex{
  display: flex;
}
.d-block{
  display: block;
}
.flex-1{
  flex: 1;
}
.action-container{
  justify-content: flex-end;
}
.w-100-percent, app-panel.w-100-percent mat-card{
  width: 100%;
}
app-button[fullwidth]{
  width: 100%;
}
.text-center{
  text-align: center;
}
.mt-1{
  margin-top: 5px;
}
.pt-1{
  padding-top: 5px;
}
a {
  color: #009ef7;;
}
a, a:hover {
  transition: color .2s ease;
  text-decoration: none;
}
app-button[fullwidth]{
  width: 100%;
}
.text-center{
  text-align: center;
}
.mt-1{
  margin-top: 5px;
}
.pt-1{
  padding-top: 5px;
}
a {
  color: #009ef7;;
}
a, a:hover {
  transition: color .2s ease;
  text-decoration: none;
}
